body {
   padding-top: 0;
   font-family: "Lato";
   color: white;
}

.navbar {
    background-color: transparent;
    border: 0px;
}

.navbar .nav > li > a {
    color: white;
    margin: 0;
}

.dropdown-menu {
    background-image: url('../images/gray_wash.png');
}

.dropdown-menu > li >a {
    color: #800000;
}

.dropdown-menu > li > a:hover {
    color: yellow;
    background-color: #000040;
}

.navbar .nav >li > a:hover {
    color: yellow;
    background-color: #000040;
}

#page1 {
    background-image: url('../images/td2.jpg');
    background-repeat: no-repeat;
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 120px 0;
    padding-bottom: 110px;
}

.col-lg-12 {
    text-align: center;
}

#learnlink {
    padding: 20px;
}

.col-sm-4 {
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    opacity: .85;
    margin: 10px;
}

#page2 {
    background-image: url('../images/gray_wash.png');
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 20px 0;
    padding-bottom: 430px;
}

#row2 {
    padding-top: 10px;