body {
   padding-top: 40px;
}

.navbar {
    text-align: center;
}

#page1 {
    background-image: url('../images/td2.jpg');
    background-repeat: no-repeat;
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}

.col-lg-12 {
    text-align: center;
    font-family: "Lato";
    color: white;
    padding-bottom: 400px;
}

#learnlink {
    padding: 20px;
}

#page2 {
    background-image: url('../images/grew_wash.png');
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 20px 0;
    padding-bottom: 430px;
}

#row2 {
    padding-top: 10px;